<div class="container1">
  <div class="header">
    <h1 *ngIf="router.url == '/new-bill-client'">إضافة فاتورة بيع عميل</h1>
    <h1 *ngIf="router.url == '/new-bill-direct'">إضافة فاتورة بيع مباشر</h1>
    <h1 *ngIf="router.url == '/new-sanad-direct'">إضافة سند قبض مباشر</h1>
    <h1 *ngIf="router.url == '/new-sanad-order'">إضافة سند قبض فاتورة</h1>
  </div>
  <div class="bg-white p-5 rounded-3 mat-elevation-z8">
    <form [formGroup]="form">
      <div class="d-flex justify-content-between">
        <!-- <mat-form-field appearance="outline" class="w-49">
          <mat-label>نوع العملية</mat-label>
          <mat-select formControlName="operation">
            <mat-option *ngFor="let operation of operations" [value]="operation">{{operation}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('operation')!.hasError('required')">
            نوع العملية <strong>مطلوب</strong>
          </mat-error>
        </mat-form-field> -->

        <p-dropdown [options]="clients" [(ngModel)]="selectedClient" optionLabel="clientName" [filter]="true"
          class="w-49" filterBy="clientName" [showClear]="true" placeholder="إسم العميل" formControlName="clientName">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="selectedClient">
              <div>{{selectedClient.clientName}}</div>
            </div>
          </ng-template>
          <ng-template let-client pTemplate="item">
            <div class="country-item">
              <div>{{client.clientName}}</div>
            </div>
          </ng-template>
        </p-dropdown>

        <mat-form-field appearance="outline" class="w-49">
          <mat-label>التاريخ</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-error *ngIf="form.get('date')!.hasError('required')">
          التاريخ <strong>مطلوب</strong>
        </mat-error>
      </div>

      <div *ngIf="router.url == '/new-bill-client'">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>نوع الفاتورة</mat-label>
          <mat-select formControlName="billType">
            <mat-option *ngFor="let bill of bills" [value]="bill">{{bill}}</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('billType')!.hasError('required')">
            نوع الفاتورة <strong>مطلوب</strong>
          </mat-error>
        </mat-form-field>


        <div *ngIf="billType.value == 'بيع'">
          <p-dropdown [options]="orders" [(ngModel)]="selectedOrder" optionLabel="orderName" [filter]="true"
            class="w-49" filterBy="orderName" [showClear]="true" placeholder="إسم الطلبية" formControlName="orderName">
            <ng-template pTemplate="selectedItem">
              <div class="country-item country-item-value" *ngIf="selectedOrder">
                <div>{{selectedOrder.orderName}}</div>
              </div>
            </ng-template>
            <ng-template let-order pTemplate="item">
              <div class="country-item">
                <div>{{order.orderName}}</div>
              </div>
            </ng-template>
          </p-dropdown>

          <div class="mt-3">
            <div class="d-flex justify-content-between ">
              <p-dropdown [options]="products" [(ngModel)]="selectedProduct" optionLabel="productName" [filter]="true"
                filterBy="productName" [showClear]="true" placeholder="إسم المنتج" formControlName="productName"
                class="w-20">
                <ng-template pTemplate="selectedItem">
                  <div class="country-item country-item-value" *ngIf="selectedProduct">
                    <div>{{selectedProduct.productName}}</div>
                  </div>
                </ng-template>
                <ng-template let-product pTemplate="item">
                  <div class="country-item">
                    <div>{{product.productName}}</div>
                  </div>
                </ng-template>
              </p-dropdown>

              <mat-form-field appearance="outline" class="w-20">
                <mat-label>سعر الكيلو</mat-label>
                <input type="number" matInput formControlName="kiloPrice" min="1" [(ngModel)]="price">
                <mat-error *ngIf="form.get('kiloPrice')!.hasError('required')">
                  سعر الكيلو <strong>مطلوب</strong>
                </mat-error>
              </mat-form-field>

              <p-dropdown [options]="weights" [(ngModel)]="selectedWeights" optionLabel="weight" [filter]="true"
                filterBy="weight" [showClear]="true" placeholder="وزن الكرتونة" formControlName="productWeights"
                class="w-20">
                <ng-template pTemplate="selectedItem">
                  <div class="country-item country-item-value" *ngIf="selectedWeights">
                    <div>{{selectedWeights.weight}}</div>
                  </div>
                </ng-template>
                <ng-template let-weight pTemplate="item">
                  <div class="country-item">
                    <div>{{weight.weight}}</div>
                  </div>
                </ng-template>
              </p-dropdown>

              <mat-form-field class="w-49" appearance="outline" class="w-20">
                <mat-label>عدد الكراتين</mat-label>
                <input type="number" matInput formControlName="productAmount" [readonly]="!productWeights.value ">
                <mat-hint *ngIf="amount">عدد الكراتين المتاحة <strong> {{amount}}</strong></mat-hint>
              </mat-form-field>

              <button mat-raised-button color="primary" class="h-fit mt-3"
                [disabled]="productAmount.invalid || !productAmount.value || !kiloPrice.value || !productWeights.value"
                (click)="orderProduct(productName.value, kiloPrice.value, productWeights.value, productAmount.value)">أضف
                منتج</button>
            </div>
            <table *ngIf="orderedProducts.length > 0" class="mb-3">
              <tr>
                <th>إسم المنتج</th>
                <th>وزن الكرتونة</th>
                <th>عدد الكراتين</th>
                <th>الوزن الكلي</th>
                <th>السعر</th>
                <th></th>
              </tr>
              <tr *ngFor="let product of orderedProducts; let i = index">
                <td>{{product.productName}}</td>
                <td>{{product.weight}}</td>
                <td>{{product.amount}}</td>
                <td>{{product.totalWeight}} كجم</td>
                <td>{{product.totalPrice}} ج</td>
                <td><button mat-icon-button class="text-center w-100" (click)="deleteProduct(i)">
                    <mat-icon mat-raised-button>cancel</mat-icon>
                  </button></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div *ngIf="router.url == '/new-sanad-direct'">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>المبلغ</mat-label>
          <input type="number" matInput formControlName="amountPaid" min="0">
          <mat-error *ngIf="form.get('amountPaid')!.hasError('required')">
            المبلغ <strong>مطلوب</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>الملاحظات</mat-label>
          <textarea matInput formControlName="notes"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="router.url == '/new-sanad-order'">
        <p-dropdown [options]="billsList" [(ngModel)]="selectedBill" optionLabel="id" [filter]="true" class="w-100"
          filterBy="id" [showClear]="true" placeholder="رقم الفاتورة" formControlName="bills">
          <ng-template pTemplate="selectedItem">
            <div class="country-item country-item-value" *ngIf="selectedBill">
              <div>{{selectedBill.id}}</div>
            </div>
          </ng-template>
          <ng-template let-bill pTemplate="item">
            <div class="country-item">
              <div>{{bill.id}}</div>
            </div>
          </ng-template>
        </p-dropdown>

        <mat-form-field class="w-100 mt-3" appearance="outline">
          <mat-label>المبلغ</mat-label>
          <input type="number" matInput formControlName="amountPaid" min="0">
          <mat-error *ngIf="form.get('amountPaid')!.hasError('required')">
            المبلغ <strong>مطلوب</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100" appearance="outline">
          <mat-label>الملاحظات</mat-label>
          <textarea matInput formControlName="notes"></textarea>
        </mat-form-field>
      </div>

      <div *ngIf="router.url !== '/new-sanad-direct' && router.url !== '/new-sanad-order'"
        class="d-flex justify-content-between">
        <mat-form-field class="w-49" appearance="outline">
          <mat-label>السعر الإجمالي</mat-label>
          <input type="number" matInput formControlName="totalPrice" min="0" [value]="totalPrice">
          <mat-error *ngIf="form.get('totalPrice')!.hasError('required')">
            السعر الإجمالي <strong>مطلوب</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-49" appearance="outline">
          <mat-label>المدفوع</mat-label>
          <input type="number" matInput formControlName="paid" min="0">
          <mat-error *ngIf="form.get('paid')!.hasError('required')">
            المدفوع <strong>مطلوب</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <div *ngIf="router.url == '/new-bill-client' && '/new-bill-direct'" class="w-14 d-flex justify-content-between"
      id="10">
      <button mat-raised-button class="btn-success" [disabled]="form.invalid || orderedProducts.length < 1"
        (click)="submit(form)">إضافة</button>
      <button mat-raised-button class="btn-danger" [routerLink]="'/'">إلغاء</button>
      <button mat-raised-button color="primary" [disabled]="form.invalid || orderedProducts.length < 1"
        (click)="print(form)">طباعه</button>
    </div>
    <div *ngIf="router.url == '/new-sanad-direct'" class="w-14 d-flex justify-content-between" id="100">
      <button mat-raised-button class="btn-success" [disabled]="form.invalid"
        (click)="addDirectSanad(form)">إضافة</button>
      <button mat-raised-button class="btn-danger" [routerLink]="'/'">إلغاء</button>
      <button mat-raised-button color="primary" [disabled]="form.invalid"
        (click)="printDirectSanad(form)">طباعه</button>
    </div>
    <div *ngIf="router.url == '/new-sanad-order'" class="w-14 d-flex justify-content-between" id="1000">
      <button mat-raised-button class="btn-success" [disabled]="form.invalid"
        (click)="addBillSanad(form)">إضافة</button>
      <button mat-raised-button class="btn-danger" [routerLink]="'/'">إلغاء</button>
      <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="printBillSanad(form)">طباعه</button>
    </div>
  </div>
</div>
