<h1 mat-dialog-title class="mb-0">تعديل المورد</h1>
<div mat-dialog-content class="position-relative">
  <form [formGroup]="form">
    <input class="hide">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>إسم المورد</mat-label>
      <input type="text" matInput formControlName="supplierName">
      <mat-error *ngIf="form.get('supplierName')!.hasError('required')">
        إسم المورد <strong>مطلوب</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>المبلغ بالكامل</mat-label>
      <input type="number" matInput formControlName="totalBalance" [(ngModel)]="total">
      <mat-error *ngIf="form.get('totalBalance')!.hasError('required')">
        المبلغ بالكامل <strong>مطلوب</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>المدفوع</mat-label>
      <input type="number" matInput formControlName="paid" [(ngModel)]="paid">
      <mat-error *ngIf="form.get('paid')!.hasError('required')">
        المدفوع <strong>مطلوب</strong>
      </mat-error>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="0" class="btn btn-danger">إلغاء</button>
  <button mat-raised-button class="btn btn-success" (click)="submit(form, data.id)"
    [disabled]="!form.valid || !form.dirty">تعديل</button>
</div>
