<h1 mat-dialog-title class="mb-0">إضافة مادة خام</h1>
<div mat-dialog-content class="position-relative">
  <form [formGroup]="form">
    <input class="hide">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>الإسم</mat-label>
      <input type="text" matInput formControlName="materialName" [(ngModel)]="data.materialName">
      <mat-error *ngIf="form.get('materialName')!.hasError('required')">
        الإسم <strong>مطلوب</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>المورد</mat-label>
      <input type="text" matInput formControlName="supplierId" [(ngModel)]="data.supplierId">
      <mat-error *ngIf="form.get('supplierId')!.hasError('required')">
        المورد <strong>مطلوب</strong>
      </mat-error>
    </mat-form-field>

    <!-- <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>النوع</mat-label>
      <mat-select formControlName="type">
        <mat-option *ngFor="let type of kinds" [value]="type">{{type}}</mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('type')!.hasError('required')">
        النوع <strong>مطلوب</strong>
      </mat-error>
    </mat-form-field> -->

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>الحد الأدنى للعدد</mat-label>
      <input type="number" matInput formControlName="alarm" min="1" [(ngModel)]="data.alarm">
      <mat-error *ngIf="form.get('alarm')!.hasError('min')">
        يحب ان يكون الحد الأدنى <strong>1</strong> على الأقل
      </mat-error>
      <mat-error *ngIf="form.get('alarm')!.hasError('required')">
        الحد الأدنى <strong>مطلوب</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>الوحدة</mat-label>
      <input type="text" matInput formControlName="unit" [(ngModel)]="data.unit">
      <mat-error *ngIf="form.get('unit')!.hasError('required')">
        الوحدة <strong>مطلوب</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>سعر الكيلو</mat-label>
      <input type="number" matInput formControlName="kiloPrice" min="1" [(ngModel)]="data.kiloPrice">
      <mat-error *ngIf="form.get('kiloPrice')!.hasError('min')">
        يحب ان يكون سعر الكيلو <strong>1</strong> على الأقل
      </mat-error>
      <mat-error *ngIf="form.get('kiloPrice')!.hasError('required')">
        سعر الكيلو <strong>مطلوب</strong>
      </mat-error>
    </mat-form-field>

    <div class="example-full-width d-flex justify-content-between">
      <div class="w-80 d-flex justify-content-between">
        <mat-form-field class="w-49" appearance="outline">
          <mat-label>وزن الكرتونة</mat-label>
          <input type="number" id="wight" matInput formControlName="weight1" min="1" #weight2>
          <mat-error *ngIf="form.get('weight1')!.hasError('min')">
            يحب ان يكون وزن الكرتونة <strong>1</strong> على الأقل
          </mat-error>
          <mat-error *ngIf="form.get('weight1')!.hasError('required')">
            وزن الكرتونة <strong>مطلوب</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-49" appearance="outline">
          <mat-label>عدد الكراتين</mat-label>
          <input type="number" id="amount" matInput formControlName="amount1" min="1" #amount2>
          <mat-error *ngIf="form.get('amount1')!.hasError('min')">
            يحب ان يكون عدد الكراتين <strong>1</strong> على الأقل
          </mat-error>
          <mat-error *ngIf="form.get('amount1')!.hasError('required')">
            عدد الكراتين <strong>مطلوب</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="d-flex flex-column ">
        <button mat-raised-button color="primary" class="h-fit mx-auto" [disabled]="!weight.value || !amount.value"
          (click)="addWeight(weight2.value,amount2.value)">أضف الكراتين</button>
        <p class="text-error" id="text-error" [hidden]="!visible">هذا الوزن تم إضافته بالفعل</p>
      </div>
    </div>
    <div *ngIf="karateen.length > 0">
      <ul *ngFor="let kartona of karateen; let i = index">
        <li class="position-relative order">
          <p>
            {{kartona.amount}} كرتونة من وزن {{kartona.weight}}
          </p>
          <button mat-icon-button class="position-absolute top-0 start-0" (click)="deleteWeight(i)"
            [swal]="['تم حذف المادة الخام بنجاح!', '', 'error']">
            <mat-icon mat-raised-button>cancel</mat-icon>
          </button>
        </li>
      </ul>
    </div>
    <div class="kartona" id="kartona">1</div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="0" class="btn btn-danger">إلغاء</button>
  <button mat-raised-button class="btn btn-success" (click)="submit(form)"
    [disabled]="!form.valid || karateen.length < 1">إضافة</button>
</div>
