:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 30px 10px 20px 20px;
  flex-wrap: wrap;
  height: fit-content;
  row-gap: 20px;
  gap: 10px;
}

h1,
p {
  display: block;
  width: 100%;
  text-align: center;
}

p {
  margin-bottom: 20px;
}
app-icon-btn {
  height: 18vh;
  margin-bottom: 0.5rem;
}
