<h1>أهلًا بك في تطبيق إدارة العزباوي</h1>
<p>
  يمكنك الوصول لصفحاتك المختصرة سريعًا باستخدام تلك القائمة، أو يمكنك تصفح
  صفحاته من القائمة الجانبية.
</p>

<app-icon-btn routerLink="/new-bill-direct" [style.width]="'25%'" [btn]="{
    text: 'إضافة فاتورة بيع مباشر',
    iconClasses: 'fa-solid fa-file-circle-plus',
    activeState: true
  }"></app-icon-btn>
<app-icon-btn routerLink="/new-bill-client" [style.width]="'25%'" [btn]="{
    text: 'إضافة فاتورة بيع عميل',
    iconClasses: 'fa-solid fa-file-circle-plus',
    activeState: true
  }"></app-icon-btn>
<app-icon-btn routerLink="/new-bill-supplier" [style.width]="'25%'" [btn]="{
    text: 'بيان استلام مواد خام ',
    iconClasses: 'fa-solid fa-file-circle-plus',
    activeState: true
  }"></app-icon-btn>

<app-icon-btn routerLink="/new-operation" [style.width]="'25%'" [btn]="{
    text: 'إضافة عملية في الخزنة',
    iconClasses: 'fa-solid fa-money-bill-transfer',
    activeState: true
  }"></app-icon-btn>

<app-icon-btn routerLink="/new-operation" [style.width]="'25%'" [btn]="{
    text: 'مراجعة محتوى المخزن',
    iconClasses: 'fa-solid fa-dolly',
    activeState: true
  }"></app-icon-btn>
