table {
  width: 100%;
}
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  cursor: pointer;
}

.example-element-detail {
  overflow: hidden;
  /* display: flex; */
}
.row-detail {
  display: flex;
  flex-direction: row;
  margin: 8px 0;
  align-items: center;
}
.operations td,
.operations th {
  border: 1px solid #dddddd;
  /* text-align: right; */
  padding: 8px;
}

.operations th {
  background-color: #dddddd;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
  background-color: white;
  margin-bottom: 1rem;
}
.container1 {
  margin: 0 10rem;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.line {
  border-left: 1px grey solid;
  height: 1.5rem;
  margin: 0 4px;
}
::ng-deep .mat-paginator-range-label {
  direction: ltr;
}
::ng-deep .swal2-actions {
  width: 50%;
  justify-content: space-evenly;
}
a {
  text-decoration: none;
  color: inherit;
}
