<div id="logo-container">
  <img src="../../../../assets/images/logo.png" alt="لوجو العزباوي" />
</div>

<ul>
  <li *ngFor="let link of navLinks">
    <a *ngIf="link.link" [routerLink]="link.link">{{ link.text }}</a>

    <a
      *ngIf="link.isNavItemOpen"
      class="expandable"
      [class.expanded]="isNavItemOpen[link.isNavItemOpen]"
      id="link.isNavItemOpen"
      (click)="
        isNavItemOpen[link.isNavItemOpen] = !isNavItemOpen[link.isNavItemOpen]
      "
      >{{ link.text }}</a
    >

    <ul
      *ngIf="link.isNavItemOpen"
      [style.display]="isNavItemOpen[link.isNavItemOpen] ? 'unset' : 'none'"
    >
      <li *ngFor="let innerLink of link.children">
        <a routerLink="innerLink.link">{{ innerLink.text }}</a>
      </li>
    </ul>
  </li>
</ul>
