<div class="container1">
  <div class="header">
    <h1>المواد الخام</h1>
    <button mat-raised-button color="primary" (click)="addDialog()">إضافة</button>
  </div>

  <div class="mat-elevation-z8">
    <mat-form-field appearance="fill">
      <mat-label>بحث</mat-label>
      <input matInput (keyup)="applyFilter($event)" />
    </mat-form-field>

    <table mat-table mat-table matSort [dataSource]="dataSource" multiTemplateDataRows *ngIf="ELEMENT_DATA">

      <ng-container matColumnDef="م">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>م</th>
        <td mat-cell *matCellDef="let material; let i = dataIndex;">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="إسم المادة الخام">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>إسم المادة الخام</th>
        <td mat-cell *matCellDef="let material">{{ material.name }}</td>
      </ng-container>
      <ng-container matColumnDef="إسم المورد">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>إسم المورد</th>
        <td mat-cell *matCellDef="let material">{{ material.supplier }}</td>
      </ng-container>
      <ng-container matColumnDef="النوع">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>النوع</th>
        <td mat-cell *matCellDef="let material">{{ material.kind }}</td>
      </ng-container>
      <ng-container matColumnDef="عدد الكراتين">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>عدد الكراتين</th>
        <td mat-cell *matCellDef="let material">{{ totalAmount(material.karateen)
          }}</td>
      </ng-container>
      <ng-container matColumnDef="الوزن الكلي">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الوزن الكلي</th>
        <td mat-cell *matCellDef="let material">{{ totalWeight(material.karateen) }}</td>
      </ng-container>
      <ng-container matColumnDef="الوحدة">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الوحدة</th>
        <td mat-cell *matCellDef="let material">{{ material.unit }}</td>
      </ng-container>
      <ng-container matColumnDef="سعر الكيلو">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>سعر الكيلو</th>
        <td mat-cell *matCellDef="let material">{{ material.price }}</td>
      </ng-container>
      <ng-container matColumnDef="الحد الأدنى">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>الحد الأدنى</th>
        <td mat-cell *matCellDef="let material">{{ material.limit }}</td>
      </ng-container>
      <ng-container matColumnDef="التعديل">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let material let i = dataIndex">
          <div class="d-flex align-items-center">
            <button mat-icon-button color="primary" matTooltip="تعديل" (click)="editDialog(material, i)">
              <mat-icon>edit</mat-icon>
            </button>
            <span class="line"></span>
            <button mat-icon-button (click)="deleteMaterial(i)" color="warn" matTooltip="حذف">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let material let r = dataIndex" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="material == expandedElement ? 'expanded' : 'collapsed'">
            <div class="row-detail" *ngFor="let kartona of material.karateen; let i = index">
              <span class="example-element-description">الكراتين من الوزن</span>
              <span class="example-element-description highlight" id="weight">{{ kartona.weight
                }}</span>
              <span class="example-element-description">الكمية المتاحة</span>
              <span class="example-element-description highlight">{{ kartona.amount }}</span>
              <span class="example-element-description">تعديل الكمية</span>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-danger" (click)="minAmount(input.value, r, i)"
                  (click)="input.value= ''">-</button>
                <input type="number" class="form-control" id="input" placeholder="الكمية" #input>
                <button type="button" class="btn btn-success" (click)="addAmount(input.value, r, i)"
                  (click)="input.value = ''">+</button>
              </div>
              <button mat-icon-button (click)="deleteWeight(r, i)" color="warn" matTooltip="حذف">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <div class="row-detail">
              <span class="example-element-description">الكراتين من الوزن</span>
              <input type="number" class="form-control example-element-description" #weight1 [(ngModel)]="weight"
                placeholder=" الوزن">
              <span class="example-element-description">الكمية المتاحة</span>
              <input type="number" class="form-control example-element-description" #amount1 [(ngModel)]="amount"
                placeholder=" الكمية">

              <button mat-raised-button color="primary" class="addWight"
                (click)="addNewWeight(weight1.value, amount1.value, r)">أضف
                الوزن الجديد</button>

              <p class="text-error1" id="text-error1" [hidden]="!visible">هذا الوزن تم إضافته بالفعل</p>
            </div>

          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let material; columns: columnsToDisplay;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === material"
        (click)="expandedElement = expandedElement === material ? null : material">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="mb-5"></mat-paginator>
  </div>
</div>
